  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,400;0,500;1,500&family=Cormorant+Garamond:ital,wght@1,600&family=DynaPuff:wght@400;500;600&family=EB+Garamond:wght@400;500;600;700;800&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Fira+Code:wght@300;400;500;600;700&family=Inconsolata:wght@200;400;500;600;800;900&family=Kumbh+Sans:wght@400;700&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Lexend+Deca:wght@400;500;600;700;800;900&family=Manrope&family=Montserrat:wght@400;500;600;700;800&family=Mulish:wght@400;500;600;700;800;900&family=Noto+Sans+Chakma&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600;1,700&family=Oswald:wght@400;600;700&family=Outfit:wght@300;400;600&family=Passion+One&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,500;1,700;1,800&family=Roboto+Mono:ital,wght@0,500;1,100&family=Roboto:wght@300;400;700&family=Silkscreen:wght@400;700&family=Square+Peg&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&family=VT323&display=swap');

  :root{
    --clr-white: #fff;
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: hsl(205, 78%, 60%);
    /* --transition: all 0.3s linear; */
  }


  html,
  body {
      font-family: 'Ubuntu', sans-serif;
      background-color: #000;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 39px;
      background-color: #101010;
  }

  header .title {
      color: #fff;
  }

  nav .links {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .links li a {
      padding: 13px;
      transition: 0.3s ease-in-out;
      margin-left: 1.4rem;
      color: #ffffffbc;
      border-radius: 5px;
      font-size: 1rem;
      text-transform: capitalize;
      display: block;
  }

  .links a:hover {
      background-color: rgba(128, 128, 128, 0.762);
      color: #fff;
  }


  .links .btn {
      background-color: rgba(82, 78, 78, 0.382);
      padding: 13px 30px 13px 30px;
      border-radius: 5px;
      color: #fff;
  }

  .links i {
      font-size: 14px;
      margin: 10px;
      align-self: center;
  }

  .links {
    height: 0;
    overflow: hidden;
  } 
  
  
  .nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  
  .nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
  }

  .show-links {
    height: 11rem;
  }